.box {
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  width: 150px;
  height: 150px;
  background-color: red;
  font-size: 24px;
  color: azure;
  text-align: center;
  border: solid black;
  border-width: 10px 5px;
  /* transform: rotate(120deg); */
  /* transform: rotate(1turn); */
  /* transform: rotate(0.5turn);  */
  /* transform: rotate(0.25turn);  */
}

body:hover .box {
  /* Rotate */
  /* transform: rotate(0.5turn);  */

  /* Scale */
  /* transform: scale(0.5); */
  /* transform: scale(0.5, 1.5); */
  /* transform: scaleX(0.5); */
  /* transform: scaleY(1.5); */

  /* Skew */
  /* transform: skew(30deg); */
  /* transform: skew(30deg, 50deg); */
  /* transform: skewX(30deg); */
  /* transform: skewY(50deg); */
  
  /* Translate */
  /* Translate: Shifts the element from one place to another */
  transform: translate(50px);
  /* transform: translate(100%); */
  /* transform: translate(-100%); */
  /* transform: translate(50%); */
  /* transform: translate(-50%, 100px); */
  /* transform: translate(-50%, -100px); */
}
