html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  background-image: url(desert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.plane {
  width: 100px;
  height: 100px;
  background-image: url(./Paper-Plane.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 5%;
  left: 10%;
  transition: all;
  transition-duration: 2.5s;
  transition-delay: 0.5s;
  transition-timing-function: ease-in-out;

}

.plane:hover{
bottom: 110%;
left: 95%;
}
